/*Largura de tela (max-width: 1000)*/
@media (max-width: 1000px) {
    #btn-mobile{
        background-color: transparent;
    }
    
    #menu-itens{
        visibility: hidden;

        position: absolute;
        z-index: 1;
        top: 70px;
        left: 0px;
        

        width: 100vw;
        height: 0px;

        flex-direction: column;
        gap: 0px;

        background-color: #7e7e7e;

        transition: .3s;
    }

    #menu-itens.show{
        visibility: visible;
        height: calc(100vh - 70px);
    }

    li{
        height: 10%;
        padding: 0;

        overflow-y: auto;
    }

    a{
        position: relative;
        top: 35%;
    }

    #conjunto_btn-mobile{
        display: block;
    }

    #btn-mobile{
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        cursor: pointer;
        padding: 5px;
    }

    #hamburguer{
        height: 35px;
        background-color: transparent;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #span1, #span2, #span3{
        display: block;
        background-color: #fff;
        width: 35px;
        height: 2px;
    }

    #span1, #span3{
        transition: .5s;
    }

    #hamburguer.active #span1{
        transform: rotate(135deg);
        position: relative;
        top: 34.5%;

        /*background-color: yellow;*/
    }

    .noshow{
        position: absolute;
        z-index: -1;

        /*background-color: #852465;*/
    }

    #hamburguer.active #span2{
        background-color: transparent;
    } 

    #hamburguer.active #span3{
        transform: rotate(-135deg);
        position: relative;
        bottom: 34.5%;

        /*background-color: green;*/
    }

}

/*Largura de tela (max-width: 700)*/
@media (max-width: 700px) {

    #btn-mobile{
        position: relative;
        top: 0;

    }

    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #left, #right{
        width: 100%;
    }

    h2{
        margin-top: 30px;
    }

    #right{
        margin-top: -100px;
    }

    button{
        position: relative;
        bottom: 20px;
    
    }
}