*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 10px;
}


/*class = "efeito-vidro"*/
.efeito-vidro {
    background: rgba(88, 88, 88, 0.35);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(3.55px);
    -webkit-backdrop-filter: blur( 3.55px );
    border: none
}

body{
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

header{
    height: 10vh;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

span{
    width: 25px;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-bottom: 5px;
}

img{
    height: 15vh;
}

#nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    height: 100%;
    display: flex;
    list-style: none;
}

#menu a{
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    line-height: 68.3906px;
    text-decoration: none;
    padding: 0px 15px;
}

#btn-mobile{
    display: none;
}

li:hover, a:hover{
    background-color: #fff;
    color: rgb(126, 126, 126);
    transition: .5s;
}

main{
    height: 80vh;
    margin: 5vh;
    display: flex;

}

#left{
    width: 65%;
}

article{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h2{
    text-align: center;
    margin: 0 auto;
    font-size: max(35px, 5vw);
}

h3{
    text-align: center;
    margin: 0 auto;
    padding: 0 5px;
    font-size: max(20px, 2vw);
}

p{
    text-align: center;
    margin: 0 auto;
    font-size: max(15px, 1.5vw);
    padding: 0 10px;
}

#right{
    width: 35%;
    padding: 5px;
    
}

form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 10px;
}

.item-form{
    position: relative;
    display: flex;
    cursor: pointer;
}

label{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    font-weight: normal;
    font-size: max(20px, 2vw);
    transition: .5s;
}

input:focus~label,
input:valid~label{
    top: -20px;
    font-size: 12px;
}

input{
    background-color: transparent;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #fff;
    font-size: 2vw;
}

input:focus{
    border: none;
}

#submit{
    background-color: transparent;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 50px;
    font-size: max(17px, 2vw);
    border: 0.5px solid #fff;
    transition: .6s;
}

#submit:hover{
    background-color: #fff;
    color: #7e7e7e;
}

/*Largura de tela (max-width: 1000)*/
@media (max-width: 1000px) {
    main{
        position: absolute;
        z-index: -1;
    }

    #menu{
        display: block;
        position: absolute;
        top: 10vh;
        right: 0px;
        width: 100%;
        margin: 0 auto;
        height: 0px;
        z-index: 1000;
        background-color: #7e7e7e;
        visibility: hidden;
        overflow: hidden;
        transition: .3s;
    }

    #nav.active #menu{
        height: calc(90vh);
        visibility: visible;
        overflow-y: auto;
    }

    li, a{
        text-align: center;
        width: 100%;
    }

    li:hover,
    a:hover{
        color: #7e7e7e;
    }

    #btn-mobile{
        display: flex;
        gap: 5px;
        padding: 5px 10px;
        background-color: transparent;
        border: none;
        font-size: max(17px, 1.5vw);
        font-weight: bold;
        cursor: pointer;
    }

    #hamburguer{
        display: block;
        width: 20px;
        border-top: 2px solid;
    }

    #hamburguer::after,
    #hamburguer::before{
        content: ' ';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
    }
}