*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 10px;
}


/*class = "efeito-vidro"*/
.efeito-vidro {
    background: #58585859;
    box-shadow: 0 8px 32px 0 #ffffff67;
    backdrop-filter: blur(3.55px);
    -webkit-backdrop-filter: blur( 3.55px );
    border: none
}

body{
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

header{
    height: 70px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

img{
    height: 15vh;
}

#nav{
    height: 100%;
    padding: 0px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}

#menu-itens{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

li{
    padding: 26px 10px;
    width: 100%;
    text-align: center;

    transition: .6s;
}

li:hover{
    background-color: #fff;
    color: #7e7e7e;
}

a{
    width: auto;

    font-size: 16px;
    font-weight: bold;

    text-decoration: none;
    color: currentColor;
}


#conjunto_btn-mobile{
    display: none;
}

main{
    height: 85vh;
    margin: 2vh;
    display: flex;

}

#left{
    width: 65%;
}

article{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h2{
    text-align: center;
    margin: 0 auto;
    font-size: max(35px, 5vw);
}

h3{
    text-align: center;
    margin: 0 auto;
    padding: 0 5px;
    font-size: max(20px, 2vw);
}

p{
    text-align: center;
    margin: 0 auto;
    font-size: max(15px, 1.5vw);
    padding: 0 10px;
}

#right{
    width: 35%;
    padding: 5px;
    
}

form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 10px;
}

.item-form{
    position: relative;
    display: flex;
    cursor: pointer;
}

label{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    font-weight: normal;
    font-size: max(20px, 2vw);
    transition: .5s;
}

input:focus~label,
input:valid~label{
    top: -20px;
    font-size: 12px;
}

input{
    background-color: transparent;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #fff;
    font-size: max(17px, 2vw);
}

#submit{
    background-color: transparent;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 50px;
    font-size: max(17px, 2vw);
    border: 0.5px solid #fff;
    transition: .6s;
}

#submit:hover{
    background-color: #fff;
    color: #7e7e7e;
}